# 应用标题
VITE_APP_TITLE=电影院后台管理系统

# 认证服务地址
VITE_APP_AUTH_API=http://127.0.0.1:8000

# 电影服务地址
VITE_APP_BASE_API=http://127.0.0.1:8001

# 排片服务地址
VITE_APP_SCHEDULE_API=http://127.0.0.1:8002

# 订单服务地址
VITE_APP_ORDER_API=http://127.0.0.1:8003
